In [1]:
import pandas as pd

In [2]:
train_path="/home/saurav-neupane/full_codes/dynamic-ride-pricing/data/raw/new-york-city-taxi-fare-prediction/train.csv"
test_path="/home/saurav-neupane/full_codes/dynamic-ride-pricing/data/raw/new-york-city-taxi-fare-prediction/test.csv"

train_df=pd.read_csv(train_path)
test_df=pd.read_csv(test_path)

In [3]:
train_df.shape

(55423856, 8)

In [4]:
test_df.shape

(9914, 7)

In [5]:
train_df.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [6]:
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [7]:
train_df["fare_amount"].describe()

count    5.542386e+07
mean     1.134505e+01
std      2.071083e+01
min     -3.000000e+02
25%      6.000000e+00
50%      8.500000e+00
75%      1.250000e+01
max      9.396336e+04
Name: fare_amount, dtype: float64

In [8]:
type(train_df)

pandas.core.frame.DataFrame

In [9]:
initial_rows = len(train_df)
train_df = train_df[train_df["fare_amount"] > 0]
print(f"Removed {initial_rows - len(train_df)} rows with zero or non-positive values.")

Removed 3834 rows with zero or non-positive values.

In [10]:
train_df.shape

(55420022, 8)

In [11]:
fare_99=train_df["fare_amount"].quantile(0.99)
fare_99

np.float64(53.0)

In [12]:
train_df=train_df[train_df["fare_amount"]<=fare_99]
train_df.shape

(54870066, 8)

In [13]:
train_df=train_df[(train_df["passenger_count"]>=1) & (train_df["passenger_count"]<=6)]

In [14]:
train_df = train_df[
    (train_df["pickup_latitude"].between(40.5, 41.0)) &
    (train_df["dropoff_latitude"].between(40.5, 41.0)) &
    (train_df["pickup_longitude"].between(-74.5, -73.5)) &
    (train_df["dropoff_longitude"].between(-74.5, -73.5))
]

In [15]:
train_df=train_df.drop(columns=["key"])

In [16]:
train_df["fare_amount"].describe()

count    5.350338e+07
mean     1.081426e+01
std      8.014572e+00
min      1.000000e-02
25%      6.000000e+00
50%      8.500000e+00
75%      1.250000e+01
max      5.300000e+01
Name: fare_amount, dtype: float64